// Color Variables
$vampire-black: #050505;
$mine-shaft: #1F1F1F;
$charleston: #2D2D2D;
$black-olive: #3A3A3A;
$boulder: #757575;
$mercury: #E9E9E9;
$white-sand: #F4F4F4;
$white: #FFFFFF;
$medium-purple: #A445ED;
$sunset-orange: #FF5252;


// Common Theme Colors
$secondary-color: $medium-purple;
$accent-color : $boulder;

// Dark Theme Colors
$primary-dark-color: $vampire-black;
$primary-text-dark: $white;

// Light Time Colors
$primary-light-color: $white;
$primary-text-light: $charleston
